In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt
pd.__version__

u'0.20.3'

In [4]:
nPe=pd.read_csv("eventsData.csv")
nPe.head()

,idEvento,idLocal,inicio,cep,descricao
0,839427782897260,8.365556e+14,2017-11-02T21:00:00-0200,30130-160,A Deserto Elétrico tem o prazer de apresentar ...
1,146738622578322,8.365556e+14,2017-10-21T22:00:00-0200,30130-160,Maglore chega a Belo Horizonte para o show de ...
2,1419099838185924,8.365556e+14,2017-10-14T21:00:00-0300,30130-160,Haroldo & o Mundo e Gabriel Elias apresentam A...
3,116247382396886,8.365556e+14,2017-09-30T22:00:00-0300,30130-160,Domenico Lancellotti é uma figura chave na mús...
4,360308187734147,8.365556e+14,2017-09-29T22:00:00-0300,30130-160,O Oceania trio de rock formado por Gustavo Dru...

In [6]:
ped=pd.read_csv("../eventos/pessoaEventoData.csv")
ped.head()

         pessoa            evento                      data
0  6.358460e+11   587863954735365  2016-12-02T22:00:00-0200
1  6.700180e+11   659172324282115  2017-09-15T23:00:00-0300
2  7.391403e+11   168340237047786  2017-09-02T23:00:00-0300
3  9.116652e+11  1765558203673026  2016-02-06T22:00:00-0200
4  9.186554e+11  1821770718038996  2016-12-10T23:00:00-0200